<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('qq二次登录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>登录id：</label>
                                <input type="text" name="userId"/>
                            </li>
                            <li>
                                <label>qq：</label>
                                <input type="text" name="qq"/>
                            </li>
                            <li>
                                <label>tgt_key：</label>
                                <input type="text" name="tgtKey"/>
                            </li>
                            <li>
                                <label>tlv_t0065：</label>
                                <input type="text" name="tlvT0065"/>
                            </li>
                            <li>
                                <label>tlv_t0065：</label>
                                <input type="text" name="tlvT0018"/>
                            </li>
                            <li>
                                <label>tlv_t0019：</label>
                                <input type="text" name="tlvT0019"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:register:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:register:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:register:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:register:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:register:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:register:remove')}]];
        var prefix = ctx + "system/register";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "qq二次登录",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'userId',
                    title: '登录id'
                },
                {
                    field: 'qq',
                    title: 'qq'
                },
                {
                    field: 'tgtKey',
                    title: 'tgt_key'
                },
                {
                    field: 'tlvT0065',
                    title: 'tlv_t0065',
                    visible: false
                },
                {
                    field: 'tlvT0018',
                    title: 'tlv_t0065',
                    visible: false
                },
                {
                    field: 'tlvT0019',
                    title: 'tlv_t0019',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="register(\'' + row.id + '\')">二次登录</a> ');
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="msgThreadStart(\'' + row.id + '\')">开启qq消息处理线程</a> ');
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="msgThreadStop(\'' + row.id + '\')">关闭qq消息处理线程</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function register(id) {
            $.ajax({
                url: '/qqlite/register', // AJAX 请求的 URL
                type: 'POST', // 请求类型
                dataType: 'json', // 响应数据格式为 JSON
                contentType: 'application/json',
                data: JSON.stringify({
                    id: id
                }),
                success: function (resp) {
                    // AJAX 请求成功后执行的回调函数
                    // resp 是响应数据，根据实际情况进行处理
                    console.error(resp);
                },
                error: function (xhr, status, error) {
                    // AJAX 请求失败时执行的回调函数
                    console.error(error);
                }
            });
        }
        function msgThreadStart() {
            $.ajax({
                url: '/qqlite/msg/thread/start', // AJAX 请求的 URL
                type: 'GET', // 请求类型
                contentType: 'application/json',
                success: function (resp) {
                    // AJAX 请求成功后执行的回调函数
                    // resp 是响应数据，根据实际情况进行处理
                    console.error(resp);
                },
                error: function (xhr, status, error) {
                    // AJAX 请求失败时执行的回调函数
                    console.error(error);
                }
            });
        }
        function msgThreadStop() {
            $.ajax({
                url: '/qqlite/msg/thread/stop', // AJAX 请求的 URL
                type: 'GET', // 请求类型
                contentType: 'application/json',
                success: function (resp) {
                    // AJAX 请求成功后执行的回调函数
                    // resp 是响应数据，根据实际情况进行处理
                    console.error(resp);
                },
                error: function (xhr, status, error) {
                    // AJAX 请求失败时执行的回调函数
                    console.error(error);
                }
            });
        }

    </script>
</body>
</html>